<section class="details">
    <div class="container">
    <div class="detail-slider">
    <div class="slider-1 slider-for">
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider1.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider2.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider3.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider4.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider5.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider6.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider7.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider8.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider9.jpg" alt="image">
    </div>
    </div>
    <div class="slider-1 slider-nav">
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider1.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider2.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider3.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider4.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider5.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider6.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider7.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider8.jpg" alt="image">
    </div>
    <div class="detail-slider-item">
    <img src="images/detail-slider/slider9.jpg" alt="image">
    </div>
    </div>
    </div>
    